.services-manage-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: #0056b3;
    }
  }

  .services-table {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #f2f2f2;
      }

      img {
        width: 50px;
        height: auto;
      }

      button {
        padding: 5px 10px;
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        &:hover {
          background-color: #c82333;
        }
      }
      .edit{
        padding: 5px 10px;
        background-color: #019e2b;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #00c93c;
        }
      }
    }
  }
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%; /* Adjust width to 90% of viewport */
  max-width: 400px; /* Max width limit */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: start;
  max-height: calc(100vh - 200px); /* Limit max height to 100vh - 70px */
  overflow-y: auto; /* Enable vertical scroll when content exceeds max height */

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    input {
      padding: 10px;
      // width: 95%;
      border: 1px solid #ccc;
      border-radius: 5px;

    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: #0056b3;
      }
    }

    button[type="button"] {
      background-color: #6c757d;

      &:hover {
        background-color: #5a6268;
      }
    }

    .image-preview {
      width: 100%;
      max-width: 200px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
